.footer {
  padding: 6.8rem 7rem;
  border-top: 1px solid var(--borderBlack50);
}

/* 전체 플렉스박스 */
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--fontBlack100);
  font-family: var(--mainFont);
  font-size: 1.6rem;
  line-height: 2.8rem;

  @media (width < 480px) {
    flex-direction: column;
  }
}

/* footer__brand */
.footer__brand {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.footer__logo {
  position: relative;

  :first-of-type {
    width: 10.3rem;
    height: 10.2rem;
  }
}

.footer__logo-underline {
  position: absolute;
  bottom: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
  width: 11.5rem;
  height: 0.5rem;
}

.footer__title {
  color: var(--fontBlack100);
  font-family: var(--titleFont);
  font-size: 3rem;
  line-height: 3.8571rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}

/* ///footer__brand */

.footer__mypage {
  @media (width < 480px) {
    display: flex;
		gap: 2rem;
    justify-content: space-between;
    padding: 0;
    margin: 4rem 0;
  }
}

.footer__sns {
  width: 41.5rem;
  height: 8.9rem;

  @media (width < 480px) {
    display: none;
  }
}

.footer__information li a,
.footer__mypage li a,
.footer__sns li a {
  position: relative;
  padding-bottom: 5px;
  color: var(--fontBlack100);
  font-family: var(--mainFont);
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-decoration: none;
	white-space: nowrap;
}

.footer__information li a::after {
  content: '';
  display: inline-block;
  width: 5.3625rem;
  height: 0.4797rem;
  background: url('../images/underline.svg') no-repeat;
  position: absolute;
  background-size: cover;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (width < 480px) {
    display: none;
  }
}

.footer__mypage li a::after {
  content: '';
  display: inline-block;
  width: 100%;
  /* 5.3625rem; */
  height: 0.4797rem;
  background: url('../images/underline.svg') no-repeat;
  position: absolute;
  background-size: cover;
  bottom: 0;
  left: 0;
}

.footer__sns li a::after {
  content: '';
  display: inline-block;
  width: 5.3625rem;
  height: 0.4797rem;
  background: url('../images/underline.svg') no-repeat;
  position: absolute;
  background-size: cover;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer__sns-icon {
  display: none;

  @media (width < 480px) {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    font-size: 3rem;
  }
}