.footer {
  padding: 6.8rem 7rem;
  border-top: 1px solid var(--borderBlack50);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--fontBlack100);
  font-family: 'Space Mono';
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem; /* 175% */
}

.footer__brand {
  display: flex;
  gap: 3.6rem;
}

.footer__logo {
  position: relative;
  width: 10.3rem;
  height: 10.2rem;
  &::after {
    content: '';
    display: block;
    width: 11.5rem;
    height: 0.5rem;
    background: url('../images/underline.svg') no-repeat;
    position: absolute;
    background-size: cover;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  /* &::after {
    content: '';
    display: block;
    width: 25.6813rem;
    height: rem;
    background-image: url('../images/underline.svg');
    background-size: cover;
    position: absolute;
    bottom: -10px;
    left: 0;
  } */
}

/* .footer__information p::after, .footer__mypage p::after, .footer__sns p::after {
  content: '';
  display: block;
  width: 25.6813rem;
  height: 0.5rem;
  background-image: url('../images/underline.svg');
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
} */

.footer__title {
  color: var(--fontBlack100);
  font-family: var(--titleFont);
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.8571rem;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}
.footer__information li a,
.footer__mypage li a,
.footer__sns li a {
  position: relative;
  padding-bottom: 5px;
  color: var(--fontBlack100);
  font-family: 'Space Mono';
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  text-decoration: none;
}
.footer__information li a::after {
  content: '';
  display: inline-block;
  width: 5.3625rem;
  height: 0.4797rem;
  background: url('../images/underline.svg') no-repeat;
  position: absolute;
  background-size: cover;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer__mypage li a::after {
  content: '';
  display: inline-block;
  width: 100%; /* 5.3625rem; */
  height: 0.4797rem;
  background: url('../images/underline.svg') no-repeat;
  position: absolute;
  background-size: cover;
  bottom: 0;
  left: 0;
}
.footer__sns li a::after {
  content: '';
  display: inline-block;
  width: 5.3625rem;
  height: 0.4797rem;
  background: url('../images/underline.svg') no-repeat;
  position: absolute;
  background-size: cover;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
