.members-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background: url("../images/bg.png");

    @media (width < 480px) {
        align-items: center;
    }
}

.members-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 250px; */
    margin-top: 20rem;
    margin-bottom: 2rem;

    span:first-child {
        color: var(--fontBlack100);
        font-family: Anton;
        font-size: 7rem;
        font-weight: 400;
        line-height: 6rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        margin-bottom: 10rem;
    }
}

.members-wrapper {
    @media (width < 480px) {
        display: flex;
        flex-direction: column;
    }
}

.members-card {
    display: flex;
    margin-right: 15rem;
    margin-bottom: 4rem;

    @media (width < 480px) {
        flex-direction: column;
    }

}

.members-card:nth-child(2n) {
    justify-self: right;

    /* @media (width < 480px) {
        justify-self: auto;
    } */
}


.members-card__img {
    border-radius: 50%;
    margin-left: 15rem;
    margin-right: 6rem;
    margin-bottom: 5rem;
    box-shadow: 5px 5px 20px;

    @media (width < 480px) {
        width: 50%;
        margin-left: 19rem;
    }
}

.members__text {
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 3rem;
    box-shadow: 5px 5px 20px;

    /* @media (width < 480px) {
        margin-left: 10rem;
    } */
}

.members__subtext1 {
    font-size: 4.5rem;
    font-family: var(--titleFont);
    padding-left: 4rem;
    padding-top: 3rem;

    @media (width < 480px) {
        font-size: 4rem;
    }
}

.members__subtext2 {
    margin-top: 3rem;
    font-size: 2.5rem;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-right: 5rem;

    @media (width < 480px) {
        font-size: 2rem;
        padding-right: 6rem;
    }
}

.members__share {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.members__share a {
    /* width: 4rem; */
    /* height: 6rem; */
    /* line-height: 5rem; */
    font-size: 4rem;
    border-radius: 50%;
}

.members__share a:first-child {
    color: #3B5998;
}

.members__share a:nth-child(2) {
    color: #00ACEE;
}

.members__share a:last-child {
    color: #DD2A7B;
}

.members__share a:hover {
    background-color: var(--fontYellow);
}