.section-promotion {
	display: flex;
	flex-direction: column;
}

.section-promotion__product-container {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 0.01fr;
	background-color: var(--bgVanila);
	border-left: 1px solid var(--borderBlack25);
	border-top: 1px solid var(--borderBlack25);
	/* TODO: border black통일필요 */

	:last-of-type {
		border-right: none;
	}

	@media (width < 480px) {
		display: flex;
		flex-wrap: wrap;
	}
}

.section-promotion__content {
	padding: 8.2rem 2.58rem 7.8rem 9.34rem;
	border-right: 1px solid var(--borderBlack25);
	border-bottom: 1px solid var(--borderBlack25);

	.section-promotion__content-title {
		color: var(--fontBlack100);
		font-family: var(--titleFont);
		font-size: 5rem;
		line-height: 6rem;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		margin-bottom: 2.2rem;
		white-space: pre-line;

		@media (width < 480px) {
			font-size: 3rem;
		}
	}

	span {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-5%, 0);
			display: inline-block;
			background: url(../images/text-cover1.png) no-repeat;
			width: 26.3884rem;
			height: 6.8767rem;
		}

		@media (width < 480px) {
			&::after {
				width: 13rem;
				height: 3.4rem;
				background-size: cover;
			}
		}
	}

	.section-promotion__content-description {
		color: --var(fontBlack100);
		font-size: 1.8rem;
		line-height: 2.4rem;
		margin-bottom: 11.47rem;
	}

	@media (width < 480px) {
		padding: 2.4rem;
	}
}

.btn-viewmore {
	color: var(--fontBlack50);
	text-align: center;
	font-family: var(--titleFont);
	font-size: 1.6rem;
	line-height: 1.6rem;
	letter-spacing: 0.096rem;
	text-transform: uppercase;
	position: relative;
}

.btn-viewmore::after {
	display: inline-block;
	content: "";
	background: url(../images/ico_right-arrow.svg) no-repeat;
	background-size: cover;
	width: 2.8rem;
	height: 2.55rem;
	position: absolute;
	top: -0.5rem;
	left: 8rem;
}

.section-promotion__product {
	display: flex;
	flex-direction: column;
	border-right: 1px solid var(--borderBlack25);
	border-bottom: 1px solid var(--borderBlack25);

	img {
		align-self: center;
		width: 39.4rem;
		height: 40.8766rem;
		margin: 4.17rem 4.3rem 3.1rem 4.3rem;

		@media (width < 480px) {
			width: 100%;
			margin: 1.6rem;
		}
	}

	.section-promotion__product-title {
		color: var(--fontBlack100);
		font-family: var(--titleFont);
		font-size: 1.5625rem;
		line-height: 1.875rem;
		letter-spacing: 0.03125rem;
		text-transform: uppercase;
		margin-left: 4.3rem;
		margin-bottom: 0.5rem;
	}
}

.price {
	color: var(--fontBlack100);
	font-size: 1.125rem;
	line-height: 1.5rem;
	margin-left: 4.3rem;
	margin-bottom: 3.6rem;
}

.section-promotion__banner {
	position: relative;
	width: 192rem;
	height: 75.2rem;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	strong {
		position: absolute;
		top: 50%;
		left: 50vw;
		transform: translate(-50%, -50%);

		color: var(--fontWhite);
		text-align: center;
		font-family: var(--titleFont);
		font-size: 10rem;
		line-height: 11rem;
		letter-spacing: -0.2rem;
		text-transform: capitalize;

		@media (width < 480px) {
			font-size: 3rem;
			letter-spacing: 0rem;
			line-height: 150%;
		}
	}

	@media (width < 480px) {
		width: 100%;
		height: 18rem;
	}
}