.section-menu {
  width: 100vw;
  height: 69.6625rem;
  border-bottom: 1px solid var(--borderBlack75);
  @media (width < 480px) {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 65rem; */
  }
}
.section-menu__container {
  display: flex;
  @media (width < 480px) {
    flex-direction: column;
  }
}
.section-menu__hidden-title {
  color: var(--fontYellow);
  text-align: center;
  font-family: var(--imgFont);
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: -0.4rem;
  display: none;
  @media (width < 480px) {
    display: block;
    margin-bottom: 5rem;
  }
}

.section-menu__menubox {
  padding: 15.84rem 18.24rem 15.94rem 16.32rem;
  li:not(:last-child) {
    margin-bottom: 2.7rem;
  }
  @media (width < 480px) {
    padding: 0;
  }
}
.section-menu__item {
  display: flex;
  justify-content: space-between;
  gap: 45.72rem;
  margin-bottom: 0.2rem;
  @media (width < 480px) {
    gap: 13rem;
    margin-bottom: 0.5rem;
  }
}
.section-menu__title {
  color: var(--fontBlack100);
  font-family: var(--titleFont);
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}
.section-menu__price {
  color: var(--fontBlack100);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0.072rem;
  text-transform: uppercase;
}

.section-menu__description {
  color: var(--fontBlack100);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.section-menu__menu-image {
  /* flex: 1; */
  width: 50%;
  height: 69.6625rem;
  background: url(../images/menu/@menu.png) no-repeat center center;
  background-size: cover;
  @media (width < 480px) {
    display: none;
  }
}
