.section-school {
    background: var(--bgGreen);
}

.section-school__box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--borderBlack75);
}

.section-school__image {
    margin-left: 11.8rem;
    margin-top: 13.7rem;
    margin-bottom: 13.8rem;
    margin-right: 5.42rem;
}

.section-school__image img {
    border-radius: 1rem;
}

.section-school__title {
    color: var(--fontBlack100);
    font-family: var(--titleFont);
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    padding-top: 17.1rem;
    margin-left: 8rem;
    margin-bottom: 1.2rem;
}

.section-client__text {
    color: var(--fontBlack100);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin-right: 12.59rem;
    margin-left: 8rem;
    margin-bottom: 5.8rem;
}

.btn {
    text-decoration: none;
    background: url(../images/btn_bg.svg) var(--bgBlack);
    margin-left: 8rem;
    margin-bottom: 17.5rem;
    display: flex;
    padding: 2rem 3.5219rem 2.2rem 3.4rem;
    justify-content: center;
    align-items: center;
    color: var(--fontWhite);
    text-align: center;
    font-family: var(--titleFont);
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0.136rem;
    text-transform: uppercase;

}