.section-team__title {
    padding-left: 5rem;
    padding-bottom: 3.1rem;
    padding-top: 3.5rem;
    color: var(--fontBlack100);
    font-family: var(--titleFont);
    font-size: 7rem;
    font-weight: 400;
    line-height: 8rem;
    letter-spacing: -0.14rem;
    text-transform: uppercase;

    @media (width < 480px) {
        font-size: 3.5rem;
    }
}

.section-team__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;

    @media (width < 480px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
    }
}

.section-team__box {
    padding-top: 3.8rem;
    padding-left: 3.8rem;
    padding-right: 3.8rem;
    border-top: 1px solid var(--borderBlack50);
    border-right: 1px solid var(--borderBlack50);
    border-bottom: 1px solid var(--borderBlack50);

    @media (width < 480px) {
        border-left: 1px solid var(--borderBlack50);
        margin-left: 1.5rem;
        box-shadow: 2px 3px 5px 0px;
    }
}

.section-team__subtext1 {
    padding-top: 1.9rem;
    color: #202020;
    font-family: var(--titleFont);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

.section-team__subtext2 {
    color: #202020;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin-bottom: 4.2rem;
}