.product-title {
  color: var(--fontBlack100);
  font-family: var(--titlefont);
  font-size: 7rem;
  line-height: 8rem;
  letter-spacing: -0.14rem;
  text-transform: uppercase;
  padding: 2.4rem 0;
  padding-left: 3.13rem;

  @media (width < 1024px) {
    font-size: 2.4rem;
    margin: 0.5rem;
    padding: 0;
    line-height: 5rem;
  }
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  grid-template-rows: 1fr;
  border-top: 1px solid var(--borderBlack75);
  border-left: 1px solid var(--borderBlack75);
}

.card {
  position: relative;
  padding: 2.6rem;
  padding-bottom: 2.2rem;
  border-right: 1px solid var(--borderBlack75);
  border-bottom: 1px solid var(--borderBlack75);
}

.product-card__img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.product-card__name {
  color: var(--fontBlack100);
  font-family: var(--titlefont);
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-top: 3.1rem;
}

.product-card__price {
  color: var(--fontBlack100);
  font-family: var(--mainFont);
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.product-card__bedge-new,
.product-card__bedge-sold {
  color: var(--fontBlack100);
  font-family: var(--titlefont);
  font-size: 1.125rem;
  line-height: 1.125rem;
  letter-spacing: 0.01125rem;
  text-transform: uppercase;
  background-color: var(--fontYellow);
  padding: 0.25rem 1.2rem;
  position: absolute;
  top: 10px;
  right: 0;
}

.product-card__bedge-sold {
  background-color: var(--bgBlack);
  color: var(--bgWhite100);
}