.section-school {
    background: var(--bgGreen);
}

.section-school__box {
    display: flex;
    align-items: center;
    border-right: 1px solid var(--borderBlack75);
    border-bottom: 1px solid var(--borderBlack75);

    @media (width < 480px) {
        display: block;
    }
}

.section-school__image {
    margin-left: 11.8rem;
    margin-top: 13.7rem;
    margin-bottom: 13.8rem;
    margin-right: 5.42rem;
    display: flex;
    justify-content: center;

    @media (width < 480px) {
        margin: 0rem;
    }
}

.section-school__image img {
    border-radius: 1rem;

    @media (width < 480px) {
        margin-top: 6rem;
        width: 80%;
    }
}

.section-client__secondbox {
    @media (width < 480px) {
        display: flex;
        flex-direction: column;
    }
}

.section-school__title {
    color: var(--fontBlack100);
    font-family: var(--titleFont);
    font-size: 3.5rem;
    line-height: 4.5rem;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    padding-top: 17.1rem;
    margin-left: 8rem;
    margin-bottom: 1.2rem;

    @media (width < 480px) {
        padding-top: 5.5rem;
        margin: 0;
        font-size: 2.7rem;
        align-self: center;
    }

}

.section-client__text {
    color: var(--fontBlack100);
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-right: 12.59rem;
    margin-left: 8rem;
    margin-bottom: 5.8rem;

    @media (width < 480px) {
        padding-top: 3rem;
        margin-left: 6rem;
        margin-right: 6rem;
        font-size: 1.5rem;
        align-self: center;
    }
}

.btn {
    text-decoration: none;
    background: url(../images/btn_bg.svg) var(--bgBlack);
    margin-left: 8rem;
    margin-bottom: 17.5rem;
    display: flex;
    padding: 2rem 3.5219rem 2.2rem 3.4rem;
    justify-content: center;
    align-items: center;
    color: var(--fontWhite);
    text-align: center;
    font-family: var(--titleFont);
    font-size: 1.7rem;
    line-height: 1.7rem;
    letter-spacing: 0.136rem;
    text-transform: uppercase;

    @media (width < 480px) {
        padding-top: 2rem;
        margin-left: 6rem;
        margin-right: 6rem;
        margin-bottom: 5rem;
        align-self: center;
    }

}