.section-client__title {
    border-right: 1px solid var(--borderBlack75);
    color: var(--fontBlack100);
    font-family: var(--titleFont);
    padding-left: 5rem;
    padding-bottom: 3.1rem;
    padding-top: 3.5rem;
    font-size: 7rem;
    font-weight: 400;
    line-height: 8rem;
    letter-spacing: -0.14rem;
    text-transform: uppercase;

    @media (width < 480px) {
        margin-left: 0.5rem;
        padding: 0;
        font-size: 3rem;
        line-height: 5rem;
    }
}

.section-client__container {
    border-top: 1px solid var(--borderBlack75);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
    grid-template-rows: 1fr;

    @media (width < 480px) {
        display: block;
    }

}

.section-client__box {
    display: flex;
    justify-content: center;
    border-right: 1px solid var(--borderBlack50);
    border-bottom: 1px solid var(--borderBlack50);

    @media (width < 480px) {
        background-color: var(--bgVanila);
    }
}

.section-client__img {
    padding-top: 11.5rem;
    padding-bottom: 11.5rem;

    @media (width < 480px) {
        overflow: hidden;
        padding: 2rem;
    }

}