.sectioin-blog__container {
    display: grid;

    @media (width < 480px) {
        display: flex;
        flex-direction: column;
    }
}

.section-blog__left {
    border-right: 1px solid var(--borderBlack75);
    border-bottom: 1px solid var(--borderBlack75);

    @media (width < 480px) {
        border-right: none;
    }
}

.section-blog__title {
    position: relative;
    color: var(--fontBlack100);
    font-family: var(--titleFont);
    font-size: 7rem;
    font-weight: 400;
    line-height: 8rem;
    letter-spacing: -0.14rem;
    text-transform: uppercase;
    padding-top: 5.2rem;
    padding-left: 6rem;
    padding-right: 23.3rem;
    width: 75rem;

    @media (width < 480px) {
        margin-left: 0.5rem;
        padding: 0;
        font-size: 3rem;
        line-height: 5rem;
    }
}

.section-blog__text-cover {
    position: absolute;
    top: 13rem;
    left: 25rem;
    width: 13.8594rem;
    height: 9.6797rem;

    @media (width < 480px) {
        position: absolute;
        left: 20rem;
        top: 1rem;
        width: 10%;
        height: 70%;
    }
}

.sectioin-blog__container {
    display: flex;
}

.section-blog__right {
    width: 100%;
    border-right: 1px solid var(--borderBlack75);
}

.section-blog__content {
    display: flex;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    padding-left: 4.8rem;
    border-bottom: 1px solid var(--bgBlack);

    @media (width < 480px) {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}

.section-blog__imagebox {
    display: flex;
    justify-content: center;
}

.section-blog__content img {
    border-radius: 1rem;
    width: 100%;

    @media (width < 480px) {
        margin-top: 6rem;
        width: 80%;
    }
}

.section-blog__content1 {
    color: var(--fontBlack100);
    padding-left: 4.4rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;

    @media (width < 480px) {
        font-size: 1.4rem;
    }
}

.section-blog__content1 .section-blog__underline1 {
    position: relative;

    &::after {
        content: "";
        display: inline-block;
        width: 4rem;
        height: 0.6rem;
        background: url('../images/underline.svg') no-repeat;
        position: absolute;
        background-size: cover;
        bottom: -0.1rem;
        left: 5.5rem;

        @media (width < 480px) {
            background: none;
        }
    }
}

.section-blog__content1 .section-blog__underline2 {
    position: relative;

    &::after {
        content: "";
        display: inline-block;
        width: 4rem;
        height: 0.5rem;
        background: url('../images/blog/blog-underline.svg') no-repeat;
        position: absolute;
        background-size: cover;
        bottom: 0.1rem;
        left: 1rem;

        @media (width < 480px) {
            background: none;
        }
    }
}

.section-blog__content2 {
    color: var(--fontBlack100);
    font-family: var(--titleFont);
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    padding-left: 4.4rem;
    padding-top: 1rem;

    @media (width < 480px) {
        font-size: 2.5rem;
    }
}

.section-blog__content3 {
    display: inline-block;
    text-decoration: none;
    margin-top: 11.31rem;
    padding-left: 4.4rem;
    color: var(--bgBlack);
    font-family: var(--titleFont);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6rem;
    text-transform: uppercase;

    @media (width < 480px) {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

.section-blog__content3::after {
    background: url(../images/blog/blog_arrow.svg) no-repeat 0px 0px;
    content: "";
    display: inline-block;
    width: 2.8rem;
    height: 2.55rem;
    margin-left: 0.52rem;
    margin-bottom: -0.47rem;
}

.section-blog__btn {
    text-decoration: none;
    background: url(../images/btn_bg.svg) #1D1D1B;
    margin-left: 6rem;
    margin-top: 63.26rem;
    display: flex;
    width: 15.12rem;
    height: 5.9rem;
    justify-content: center;
    align-items: center;
    color: var(--fontWhite);
    text-align: center;
    font-family: var(--titleFont);
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0.136rem;
    text-transform: uppercase;

    @media (width < 480px) {
        letter-spacing: normal;
        color: black;
        background: none;
        font-size: 1.6rem;
        margin-left: 0.5rem;
        margin-top: 0.3rem;
        margin-bottom: 0.5rem;
        height: 2.5rem;
        display: inline;

        &::after {
            content: "";
            background: url(../images/blog/blog_arrow.svg) no-repeat 0px 0px;
            display: inline-block;
            width: 2.8rem;
            height: 2.55rem;
            margin-left: 0.52rem;
            margin-bottom: -0.47rem;
        }

    }

}