.section-client__title {
    border-right: 1px solid var(--borderBlack75);
    color: var(--fontBlack100);
    font-family: var(--titleFont);
    padding-left: 5rem;
    padding-bottom: 3.1rem;
    padding-top: 3.5rem;
    font-size: 7rem;
    font-weight: 400;
    line-height: 8rem;
    letter-spacing: -0.14rem;
    text-transform: uppercase;

    @media (width < 1024px) {
        font-size: 2.4rem;
        letter-spacing: 0.1rem;
    }
}

.section-client__container {
    border-top: 1px solid var(--borderBlack75);
    display: flex;

}

.section-client__box {
    display: flex;
    width: 38.4188rem;
    height: 31.1rem;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--borderBlack50);
    border-bottom: 1px solid var(--borderBlack50);
}