.section-branch {
  border: 1px solid black;
}

.branch-container {
  display: grid;
  grid-template-columns: repeat(3, 7.49rem) 1fr;

  @media (width < 1024px) {
    display: flex;
    flex-direction: column;
  }
}

.branch-name {
  border-right: 1px solid var(--borderBlack75);
  display: flex;
  align-items: flex-end;
  padding-bottom: 3.13rem;

  @media (width < 1024px) {
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    border-bottom: 1px solid var(--borderBlack75);
  }
  a {
    text-decoration: none;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    padding-left: 0.5rem;
    width: 100%;
    color: var(--fontBlack100);
    font-family: Anton;
    font-size: 5rem;
    font-weight: 400;
    line-height: 6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    @media (width < 1024px) {
      writing-mode: horizontal-tb;
      transform: rotate(0deg);
      width: auto;
      padding: 1rem 0;
      font-size: 3rem;
    }
  }
}

.branch-detail {
  display: flex;
  gap: 3.75rem;
  margin: 6.22rem 0;
  justify-content: flex-start;

  @media (width < 1024px) {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

.branch-detail__left-column {
  img {
    width: 60rem;
    height: 48.8125rem;
    margin-left: 3.75rem;
    object-fit: cover;

    @media (width < 1024px) {
      width: 100%;
      margin: 0;
      margin-top: 3.2rem;
    }
  }
}

.branch-detail__right-column {
  display: flex;
  flex-direction: column;
  margin-right: 3.75rem;

  @media (width < 1024px) {
    margin: 0;
  }
}

.branch-detail-text {
  color: #202020;
  font-family: "Space Mono";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}

.branch-detail__title {
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-family: Anton;
  font-size: 2.5rem;
  margin-top: calc(2.81rem - 0.62rem);
  margin-bottom: 2.4rem;
}

.branch-detail__runtime-up {
  margin-top: calc(1.5rem + 1rem);
}

.branch-detail__runtime-down {
  margin-top: 0rem;
}

.branch-detail__contact-btn {
  text-decoration: none;
  background: url(../images/btn_bg.svg);
  margin-top: 5.8rem;
  display: flex;
  width: 9.73rem;
  height: 3.6rem;
  justify-content: center;
  align-items: center;
  color: var(--bgWhite100);
  text-align: center;
  font-family: Anton;
  font-size: 1.0625rem;
  line-height: 1.0625rem;
  letter-spacing: 0.085rem;
  text-transform: uppercase;
  border: none;
}
