.section-slide {
	display: flex;
	height: 100vh;
	position: relative;
	/* indicator의 기준점 */
}

.section-slide__left-side {
	width: 55%;
	height: 100vh;

	img {
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}

	@media (width < 480px) {
		width: 100%;

		&::after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 100%;
			background-color: rgb(0, 0, 0, 25%);
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.section-slide__right-side {
	position: relative;
	width: 45%;
	height: 100vh;
	padding-bottom: 8.8rem;

	.section-slide__img-with-love {
		position: absolute;
		width: 45.3rem;
		bottom: 20.5rem;
		left: 23.16rem;
		object-fit: cover;
	}

	.section-slide__img-bg {
		width: 100%;
		object-fit: cover;
	}

	@media (width < 480px) {
		width: 0;
	}
}

.section-slide__title {
	position: absolute;
	color: var(--fontBlack100);
	font-family: var(--titleFont);
	font-size: 12rem;
	line-height: 13rem;
	text-transform: uppercase;
	white-space: nowrap;
	top: 55%;
	left: 50%;
	transform: translate(-75%, -50%);
	/* 위에서 55%지점에 위치, 크기의 50%만큼 이동하여 중간에 배치  */
	/* 왼쪽에서 50% 지점에 위치, 크기의 -75%만큼 이동하여 왼쪽에 배치 */

	&::before {
		display: inline-block;
		content: '';
		position: absolute;
		background: url(../images/slider/home-bedge.png) no-repeat;
		width: 13.5rem;
		height: 13.5rem;
		right: -5rem;
		top: -10rem;
		object-fit: cover;
	}

	&::after {
		display: inline-block;
		content: '';
		position: absolute;
		background: url(../images/slider/with-love.png) no-repeat;
		width: 45.3rem;
		height: 14.1rem;
		left: 8rem;
		bottom: -8rem;
		object-fit: cover;
	}

	@media (width < 480px) {
		top: 55%;
		left: 50%;
		transform: translate(-160%, -50%);
		color: white;
		font-size: 8rem;
		line-height: 150%;


	&::after {
		left: 0rem;
	}
	}
}

.section-slide__indicator {
	display: flex;
	justify-content: center;
	padding: 1.1rem 0;
	width: 100%;
	background-color: var(--bgWhite100);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);

	>li::after {
		content: " | ";
		white-space: pre-wrap;
		color: var(--fontBlack100);
		font-size: 1.6rem;
		line-height: 3.8rem;
	}

	>li:last-child::after {
		content: "";
	}
}

.btn-prev {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	display: flex;
	width: 8.4rem;
	height: 6.5rem;
	padding: 1.0016rem 1.5875rem 1.0016rem 1.5859rem;
	justify-content: center;
	align-items: center;
	background: url(../images/ico_left-arrow.svg) var(--fontYellow) no-repeat center;

	@media (width < 480px) {
		width: 4.2rem;
		height: 3rem;
		padding: 0.4rem;
		background-size: contain;
		;
	}
}

.btn-next {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	display: flex;
	width: 8.4rem;
	height: 6.5rem;
	padding: 1.0016rem 1.5875rem 1.0016rem 1.5859rem;
	justify-content: center;
	align-items: center;
	background: url(../images/ico_right-arrow.svg) var(--fontYellow) no-repeat center;

	@media (width < 480px) {
		width: 4.2rem;
		height: 3rem;
		padding: 0.4rem;
		background-size: contain;
		;
	}
}