@import url(./section-branch.css);
@import url(./section-product.css);
@import url(./section-slogen.css);

:root {
  --bgBlack: #1d1d1b;
  --bgGreen: #c5d6d1;
  --fontBlack100: #202020;
  --fontBlack50: #1d1d1b;
  --fontYellow: #fbed81;
  --bgVanila: #fdf1d9;
  --bgWhite100: #ffffff;
  --bgWhite50: #f8f8f8;
  --titleFont: "Anton", sans-serif;
  --imgFont: "Mansalva", sans-serif;
}

* {
  font-family: "Space Mono", "Anton", "Mansalva", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clear: rect(1px, 1px, 1px, 1px);
}
