@use "../abstracts/" as *;

.a11y-hidden {
	@include a11y-hidden;
}

.header {
	display: inline-flex;
	flex-direction: column;
	position: absolute;
	inset: 0 0 auto 0;
	z-index: 1000;
}

.header__announce-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4rem;
	padding: 1rem;
	margin: 0 auto;
	color: $fontWhite;
	width: 100%;
	background-color: $bgBlack;
	font-size: 1.4rem;
	line-height: 1.4rem;
	text-align: center;

	@media (width < $mobile-size) {
		font-size: 1.1rem;
	}
}

.header__container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	height: 10rem;
	border-bottom: 1px solid $borderBlack100;
	background-color: $bgWhite100;

	@media (width < $mobile-size) {
		grid-template-columns: 1fr min-content;
		padding-inline: 2.4rem 0.8rem;
		height: 5rem;
	}
}

.header__gnb {
	ul {
		display: flex;
		gap: 4.7rem;
		margin-left: 4rem;
	}

	a {
		@include underline(5.3625rem, 0.4797rem);
		color: $fontBlack100;
		font-size: 1.7rem;
		line-height: 2.4rem;
		position: relative;
	}

	li:nth-child(2) a::after {
		left: 1.4rem;
		width: 6.4031rem;
	}

	@media (width <$mobile-size) {
		display: none;
	}
}

.header__gnb__btn-menu {
	display: none;

	@media (width < $mobile-size) {
		display: inline-block;
		background: url(../images/header/ico_menu.svg);
		position: absolute;
		width: 2.4rem;
		height: 2.4rem;
		left: 0.8rem;
	}
}

.open {
	width: 2.4rem;
	height: 2.4rem;
	background: url(../images/header/ico_close.svg);
}

.open+.header__gnb {
	display: flex;
	position: absolute;
	width: 100%;
	top: 8.8rem;
	/* button width 2.4 + header 6.4 rem */
	left: 0;
	background-color: $bgWhite100;

	>ul {
		display: flex;
		gap: 2rem;
		width: 100%;

		flex-direction: column;
		margin: 0.8rem;
	}

	>ul>li {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 3rem;

		>a::after {
			content: '';
			background: none;
		}
	}

	~.header__utillity {
		>.header__utillity_inner {
			display: flex;
			flex-direction: column;
			background-color: $bgWhite100;
			position: absolute;
			top: 28rem;
			left: 0;
			width: 100%;
			gap: 2rem;
			padding: 0.8rem;

			>a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 3rem;

				&::after {
					content: "";
					background: none;
				}
			}
		}
	}
}


.header__logo {
	text-align: center;

	@media (width < 480px) {
		justify-self: center;
		align-self: center;
		padding-top: 1rem;
	}
}

.header__utillity {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 3.68rem;

	@media (width < $mobile-size) {
		justify-self: end;
	}
}

.header__utillity_inner {
	display: flex;
	align-items: center;
	gap: 2.34rem;
	white-space: nowrap;

	.btn-cart {
		@include underline(5.3625rem, 0.4797rem);
		position: relative;
		text-decoration: none;
		color: $fontBlack100;
		font-size: 1.7rem;
	}

	.btn-search {
		@include underline(5.3625rem, 0.4797rem);
		position: relative;
		text-decoration: none;
		color: $fontBlack100;
		font-size: 1.7rem;
	}

	@media (width < $mobile-size) {
		display: none;
	}
}

.btn-open-side-area {
	padding: 1.95rem 2.2rem;
	@include border(left,$borderBlack50);

	&::after {
		content: "";
		display: inline-block;
		width: 5.45rem;
		height: 5.8rem;
		background: url(../images/header/ico_star.svg) no-repeat;
	}

	@media (width < $mobile-size) {
		display: none;
	}
}