.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/bg.png");
  height: 100vh;
}

.search-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-top: 100px;

  span:first-child {
    color: var(--fontBlack100);
		font-family: var(--titleFont);
    font-size: 7rem;
    line-height: 6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
  }

  p {
    color: var(--fontBlack100);
		font-family: var(--titleFont);
    font-size: 3rem;
    line-height: 6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
    position: relative;
    @media (width < 480px) {
      display: none;
    }
  }
  img {
    position: absolute;
    top: 5px;
    left: -15px;
    width: 120px;
    height: 50px;
  }
}

.search-bar {
  margin-bottom: 8rem;
  width: 35rem;
  height: 50px;
  border: 0;
  border-bottom: 2px solid var(--borderBlack75);
  background: url(../images/ico_search.svg) no-repeat right;
  @media (width < 480px) {
    width: 80%;
  }
}

.recommand__cards {
  display: flex;
  @media (width < 480px) {
    display: none;
  }
}

.recommand-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommand__product-name {
  color: var(--fontBlack100);
	font-family: var(--mainFont);
  font-size: 1rem;
  line-height: 3.8rem; /* 237.5% */
}

.recommand__product-img {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 2rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
