@use "../abstracts/variables" as *;

.section-slogan {
  background-color: var(--bgVanila);
}

.slogen-wrapper {
  display: grid;
  grid-template-columns: minmax(500px, 0.5fr) 0.55fr;
  grid-template-rows: 1fr;

  @media (width < 1200px) {
    display: flex;
    flex-direction: column;
  }
}

.slogen__column-left {
  padding-top: 3.1rem;
  margin-left: 3.1rem;
  border-right: 1px solid $borderBlack75;

  @media (width < 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    border-bottom: 1px solid $borderBlack75;
    border-right: none;
    border-left: none;
  }
}

.slogen-title {
  position: relative;
  color: $fontBlack100;
  font-family: $titleFont;
  font-size: 7rem;
  line-height: 8rem;
  letter-spacing: -0.14rem;
  text-transform: uppercase;

  @media (width < 1200px) {
    font-size: 4rem;
  }
}

.text-cover1 {
  position: absolute;
  bottom: 0px;
  left: 210px;
  width: 30rem;
  height: 8.5rem;

  @media (width < 1200px) {
    position: absolute;
    left: 110px;
    width: 18rem;
  }
}

.slogen-img {
  margin-top: 10rem;
  width: 19.7rem;
  height: 14.8rem;

  @media (width < 1200px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.slogen-cards {
  display: flex;
  flex-direction: column;
}

.slogen-card {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-left: 3.6rem;
  border-bottom: 1px solid $borderBlack75;

  &:last-child {
    border-bottom: none;
  }

  @media (width < 1200px) {
    padding: 1rem 2rem;
  }
}

.slogen-card__title {
  color: $fontBlack100;
  font-family: $titleFont;
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.07rem;
  text-transform: uppercase;

  @media (width < 1200px) {
    font-size: 2.5rem;
  }
}

.slogen-card__text {
  color: $fontBlack100;
  font-family: inherit;
  font-size: 1.8rem;
  line-height: 2.4rem;

  @media (width < 1200px) {
    font-size: 1.5rem;
  }
}
