<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />
  <!-- 초기화 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css" />
  <!-- 글씨체 -->
  <!-- space mono -->
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet" />
  <!-- anton -->
  <link
    href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet" />
  <!-- Mansalva -->
  <link
    href="https://fonts.googleapis.com/css2?family=Anton&family=Mansalva&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet" />
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- 스타일 -->
  <link rel="stylesheet" href="../css/style.css" />
  <title>Coffee Shop Cart</title>
</head>

<body>
  <header class="header">
    <p class="header__announce-bar">
      Welcome to Early Birds. We ship every Tuesday and Thursday. Free
      shipping above €25 in The Netherlands.
    </p>
    <div class="header__container">
      <h2 class="a11y-hidden">메뉴</h2>
      <button class="header__gnb__btn-menu">
        <span class="a11y-hidden">메뉴 버튼</span>
      </button>
      <nav class="header__gnb">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="members.html">Members</a></li>
          <li><a href="../index.html">Shop</a></li>
          <li><a href="../index.html">News</a></li>
        </ul>
      </nav>
      <h1 class="header__logo">
        <a href="../index.html">
          <img src="../images/header/logo.png" alt="early birds coffee" />
        </a>
      </h1>
      <div class="header__utillity">
        <div class="header__utillity_inner">
          <a href="cart.html" class="btn-cart">
            <span class="a11y-hidden">cart</span>cart (0)
          </a>
          <a href="search.html" class="btn-search">
            <span class="a11y-hidden">search</span>search
          </a>
        </div>
        <button type="button" class="btn-open-side-area">
          <span class="a11y-hidden">open side area</span>
        </button>
      </div>
    </div>
  </header>
  <section class="cart-container">
    <div class="cart-column-left">
      <ul class="cart__cards">
        <li class="cart__card">
          <div class="cart__card-header">
            <div class="card-header__left">
              <input class="card-header__checkbox" type="checkbox" checked />
              <span class="card-header__product-name">French Roast</span>
            </div>
            <div class="card-header__right">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
          <div class="cart__card-content">
            <div class="card-content__left">
              <img class="card-content__img" src="../images/product/product_1.png" alt="product_1.png" />
            </div>
            <div class="card-content__right">
              <span class="card-content__product-price">$37.00</span>
              <div class="card-content__product-amount">
                <i class="fa-solid fa-minus"></i>
                <span>1</span>
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
          </div>
        </li>
        <li class="cart__card">
          <div class="cart__card-header">
            <div class="card-header__left">
              <input class="card-header__checkbox" type="checkbox" checked />
              <span class="card-header__product-name">Decaf Espresso</span>
            </div>
            <div class="card-header__right">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
          <div class="cart__card-content">
            <div class="card-content__left">
              <img class="card-content__img" src="../images/product/product_2.png" alt="product_1.png" />
            </div>
            <div class="card-content__right">
              <span class="card-content__product-price">$41.00</span>
              <div class="card-content__product-amount">
                <i class="fa-solid fa-minus"></i>
                <span>2</span>
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
          </div>
        </li>
        <li class="cart__card">
          <div class="cart__card-header">
            <div class="card-header__left">
              <input class="card-header__checkbox" type="checkbox" />
              <span class="card-header__product-name">Costa Rica</span>
            </div>
            <div class="card-header__right">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>
          <div class="cart__card-content">
            <div class="card-content__left">
              <img class="card-content__img" src="../images/product/product_3.png" alt="product_1.png" />
            </div>
            <div class="card-content__right">
              <span class="card-content__product-price">$38.00</span>
              <div class="card-content__product-amount">
                <i class="fa-solid fa-minus"></i>
                <span>1</span>
                <i class="fa-solid fa-plus"></i>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="cart-column-right">
      <div class="cart__column-right-top">
        <div class="cart-destination">
          <i class="fa-solid fa-map-location-dot"></i>
          <h3 class="destination-text">Destination</h3>
        </div>
        <p class="destination-address">
          30-10, Sanghyeon-ro, Suji-gu, Yongin-si, Gyeonggi-do, Republic of
          Korea
        </p>
      </div>
      <div class="cart__column-right-btm">
        <h3 class="payment-title">
          <i class="fa-solid fa-dollar-sign"></i>
          <span>Payment</span>
        </h3>
        <div class="payment payment-price">
          <span class="payment-price__text1">Product Price :</span>
          <span class="payment-price__text2">$118.00</span>
        </div>
        <div class="payment payment-delivery">
          <span class="payment-delivery__text1">Delivery Charge :</span>
          <span class="payment-delivery__text2">$5.00</span>
        </div>
        <hr class="hr-bar" />
        <div class="payment payment-total">
          <span class="payment-total__text1">Total :</span>
          <span class="payment-total__text2">$123.00</span>
        </div>
        <button class="payment-btn">Buy Now!</button>
      </div>
    </div>
  </section>
  <script src="https://kit.fontawesome.com/6a70b9da7a.js" crossorigin="anonymous"></script>
</body>

</html>