.section__title {
  border-right: 1px solid var(--borderBlack75);
  color: var(--fontBlack100);
  font-family: var(--titleFont);
  padding-left: 5rem;
  padding-bottom: 3.1rem;
  padding-top: 3.5rem;
  font-size: 7rem;
  line-height: 8rem;
  letter-spacing: -0.14rem;
  text-transform: uppercase;
}