@mixin horizontal-scroll{
  max-width: 100%;
  overflow-x: hidden;
}

@mixin underline{
	&::after {
		content: "";
		display: inline-block;
		width: 5.3625rem;
		height: 0.4797rem;
		background: url(../images/underline.svg) no-repeat;
		position: absolute;
		background-size: cover;
		bottom: -0.4rem;
		left: 0;
	}
}

@mixin arrow-right{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	display: flex;
	width: 8.4rem;
	height: 6.5rem;
	padding: 1.0016rem 1.5875rem;
	justify-content: center;
	align-items: center;
	background: url(../images/ico_right-arrow.svg) var(--fontYellow) no-repeat center;
}