@use "./variables" as *;

@mixin horizontal-scroll{
  max-width: 100%;
  overflow-x: hidden;
}

@mixin underline($width, $height){
	&::after {
		content: "";
		display: inline-block;
		width: $width;
		height: $height;
		background: url(../images/underline.svg) no-repeat;
		position: absolute;
		background-size: cover;
		bottom: -0.4rem;
		left: 0;
	}
}

@mixin arrow($direction, $width, $height){
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	display: flex;
	width: $width;
	height: $height;
	padding: 1.0016rem 1.5875rem;
	justify-content: center;
	align-items: center;
	@if($direction == "right"){
		background:  url(../images/ico_right-arrow.svg) $fontYellow no-repeat center;
	}@else {
		background:  url(../images/ico_left-arrow.svg) $fontYellow no-repeat center;
	}
}