
$bgBlack: #1d1d1b;
$bgGreen: #c5d6d1;
$fontBlack100: #202020;
$fontBlack50: #1d1d1b;
$fontYellow: #fbed81;
$fontWhite: #ffffff;
$bgVanila: #fdf1d9;
$bgWhite100: #ffffff;
$bgWhite50: #f8f8f8;
$titleFont: "Anton", sans-serif;
$imgFont: "Mansalva", sans-serif;
$borderBlack100: #707070;
$borderBlack75: #202020;
$borderBlack50: #1d1d1b;
$borderBlack25: #000000;
$memberSharePrimary: #3B5998;
$memberShareSecondary: #00ACEE;
$memberSharePoint: #DD2A7B;
